{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<h3>Register for an account</h3>
<p>
    {% for msg in flash %}
<p>{{ msg }}</p>
{% endfor %}
<form action="/register" method="post">
    <input type="text" name="email" placeholder="email"/><br/>
    <input type="password" name="password" placeholder="password"/><br/>
    <input type="password" name="password_check" placeholder="confirm password"/><br/>
    <input type="submit" value="Register"/>
</form>
</p>
{% endblock content %}